.layout-notification
  %p.layout-notice チャットグループが作成されました。
.contents
  .side-content.clearfix
    .chat-user.clearfix
      .chat-user__name
        %h5 Kei
      .chat-user__actions
        %a.chat-user__new-group-action{ href: '' }
          new
        %a.chat-user__edit-action{href: ''}
          edit
    %ul.chat-groups
      %li.chat-group
        %a.chat-group__link{href: ''}
          %p.chat-group__name test
          %p.chat-group__message
            whoo
      %li.chat-group
        %a.chat-group__link{href: ''}
          %p.chat-group__name group2
          %p.chat-group__message
            まだメッセージはありません。
      %li.chat-group
        %a.chat-group__link{href: ''}
          %p.chat-group__name group3
          %p.chat-group__message
            まだメッセージはありません。
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2 group3
        %p.chat-header__users
          Members:
          %span.chat-header__user Kei
      .chat-header--right
        %a.chat-header__edit-btn{href: ''} Edit
    .chat-body
      %ul.chat-messages
    .chat-footer
      %form#new_message.new_message{}
        .chat-footer__body
          %textarea#message_body{placeholder: 'type a message', row: '1'}
        %input{type: 'submit', value: 'Send'}
