.chat-group-user.clearfix
  %input.chat-group-user__id--selected{ name: 'chat_group[user_ids][]', type: 'hidden', value: user.id }
  %p.chat-group-user__name.chat-group-user__name--selected
    = user.name
