.wrapper {
  display: flex; //contentsのheightを 100vh - notice にする
  flex-direction: column;
  height: 100vh;
}
p.notification {
  background-color: #38AEF0;
  text-align: center;
  color: #FFFFFF;
}
.contents {
  width: 100vw;
  flex: 1;
  position: relative; //side-contentに position: absolute をかけるため
}
.side-content {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #2f3e51;
  overflow: auto;  //groupをたくさん作っても画面が縦に伸びないようにする
}
.chat-user {
  background-color: #253141;
  height: 61px;
  padding: 35px 20px 0;
  &__name {
    float: left;
    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
    }
  }
  &__actions {
    float: right;
  }
}
ul.chat-groups {
  list-style: none;
  li.chat-group {
    padding: 20px;
    p.chat-group__name {
      font-size: 15px;
      margin-bottom: 5px;
      color: #FFFFFF;
    }
    p.chat-group__message {
      font-size: 11px;
      color: #FFFFFF;
    }
  }
}
.main-content {
  display: flex; //chat-bodyのheightを main-content - header - footer にするため
  flex-direction: column;
  margin-left: 300px;
  height: 100%;
  background-color: #fafafa; //見本と色が違うおかしい
  position: relative; //子要素のpositionを固定しても親要素のwidthを認識するようにする
}
.chat-header {
  height: 96px;
  border-bottom: thin solid #eeeeee;
  &--left {
    float: left;
    padding: 35px 40px 0;
  }
  h2 {
      font-size: 20px;
      color: #333333;
      display: inline;  //h2の下の行間を除去
      line-height: 0; //h2の下の行間を除去
    }
  &__users {
      line-height: 0; //h2との間の行間を削除
      padding-top: 15px;
      font-size: 12px;
      color: #999999;
  }
  &--right {
    float: right;
    margin: 28px 40px;
    border: thin solid #38AEF0;
  }
  &__edit-btn  {
      display: block;
      line-height: 40px;
      color: #38AEF0;
      padding: 0 20px;
  }
}

.chat-body {
  overflow: auto;
  height: 0;
  flex: 1;
  margin-bottom: 90px;
  ul.chat-messages {
    word-wrap: break-word;
    margin: 6px 40px 40px;
    li.chat-message {
      margin-top: 40px;
      p.chat-message__user-name {
        float: left;
        font-size: 16px;
        font-style: bold;
        color: #434A54;
      }
      span.chat-message__date { //ボックスが潜り込んでも文字は潜り込まない
        margin-left: 10px;
        font-size: 12px;
        color: #999999;
      }
      .chat-message__body {
        margin-top: 10px;
        font-size: 14px;
        color: #434A54;
      }
    }
  }
}
.chat-footer__wrapper {
  position: fixed;
  bottom: 0;
  left: 300px;
  right: 0;
  .chat-footer {
    padding: 20px 40px;
    background-color: #DDDDDD;
    height: 50px;
    form#new_message.new_message {
      .chat-footer__body {
        overflow: hidden; //sendボタンを固定幅、bodyを可変幅にする
        width: auto;
        position: relative; //画像アイコンをtextarea内にいれるため
        textarea#message_body {
          float: left;
          width: 100%;
          height: 50px;
          resize: none;
          border: none;
          padding-left: 10px;
        }
        label.img__icon {
          position: absolute;
          right: 10px;
          color: #AAAAAA;
          cursor: pointer;
          input#img__file {
            display: none;
          }
        }
      }
      input.send-btn {
        float: right;
        background-color: #38AEF0;
        color: #FFFFFF;
        display: block;
        line-height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        border: none;
      }
    }
  }
}

